<h5 class="saved-cards">Saved Payment Methods</h5>
<table class="table table-hover">
    <tr class="pd-list-headers">
        <td class="pd-list-header">Name On Card</td>   
        <td class="pd-list-header">Card Number</td>
        <td class="pd-list-header">Exp Date</td>
    </tr>
    <tr class="pd-list-row" *ngFor="let pd of service.list">
            <td (click)="populateForm(pd)">{{pd.CardOwnerName}}</td>
            <td (click)="populateForm(pd)">{{pd.CardNumber}}</td>
            <td (click)="populateForm(pd)">{{pd.ExpirationDate}}</td>
            <td>
                <i class="fa fa-trash-o text-danger" aria-hidden="true" (click)="onDelete(pd.PMId)"></i>
            </td>
    </tr>
</table>