/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

input.ng-valid {
    border-color: #28a745;
}

.green-icon {
    color: #28a745;
}

.red-icon {
    color: #dc3545;
}

#toast-container {
    opacity: 1;
}

 .saved-cards, .add-pd-form-header{
     text-align: center;
 }

 .pd-list-row:hover{
    background-color: white;
    cursor: pointer;
 }

 .pd-header{
     text-align: center;
 }

 .pd-list-header{
    font-size: .83em;
    font-weight: bolder;
 }